@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 577px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 993px) {
}

@media screen and (min-width: 1201px) {	
}